.content-flex{

    .content-wrapper {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .content{
        background-color: $red;
        border: 1px solid black;
        border-radius:7px;
        word-wrap: break-word;
        height: 100%;
    }

    .content-header{
        text-align: center;
        color:white;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    i{
        font-size: 6rem;
        padding-bottom: 1rem;
    }

    p{
        background-color: #fff;
        padding:0.5rem;
        border: 1px solid black;
        border-radius: 5px;
        width: 85%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    button {
        margin: 1rem;
        border: 1px solid #000;
    }
}